#Fields
public net.minecraft.client.Minecraft *
public net.minecraft.entity.Entity *
public net.minecraft.block.Block *
public net.minecraft.util.Timer *
public net.minecraft.item.ItemStack *
public net.minecraft.client.multiplayer.PlayerControllerMP *
public net.minecraft.client.renderer.ItemRenderer *
public net.minecraft.client.renderer.entity.RenderManager *
public net.minecraft.client.settings.KeyBinding *
public net.minecraft.client.gui.GuiBossOverlay *
public net.minecraft.client.shader.ShaderGroup *
public net.minecraft.client.gui.GuiDisconnected *
public net.minecraft.client.renderer.EntityRenderer *

#Methods
public net.minecraft.client.multiplayer.PlayerControllerMP *()

#CPackets
public net.minecraft.network.play.client.CPacketPlayer *
public net.minecraft.network.play.client.CPacketPlayerTryUseItemOnBlock *
public net.minecraft.network.play.client.CPacketChatMessage *
public net.minecraft.network.play.client.CPacketCustomPayload *
public net.minecraft.network.play.client.CPacketCloseWindow *
public net.minecraft.network.play.client.CPacketUseEntity *

#SPackets
public net.minecraft.network.play.server.SPacketChat *
public net.minecraft.network.play.server.SPacketPlayerPosLook *
public net.minecraft.network.play.server.SPacketEntityVelocity *
public net.minecraft.network.play.server.SPacketExplosion *

#Specific
public net.minecraft.client.renderer.EntityRenderer func_78467_g(F)V # orientCamera
public net.minecraft.client.gui.GuiBossOverlay func_184052_a(IILnet/minecraft/world/BossInfo;)V # render

public net.minecraft.tileentity.TileEntityShulkerBox field_190596_f # items
public net.minecraft.tileentity.TileEntity field_145854_h # blockType
public net.minecraft.item.ItemBlock field_150939_a # block
public net.minecraft.client.renderer.RenderGlobal field_72738_E # damagedBlocks
public net.minecraft.item.ItemTool field_77865_bY # attackDamage
public net.minecraft.network.play.client.CPacketUseEntity field_149567_a # entityId
public net.minecraft.network.play.client.CPacketUseEntity field_179713_c #action
public net.minecraft.client.renderer.ActiveRenderInfo field_178811_e # position
public net.minecraft.client.renderer.ActiveRenderInfo field_178812_b # MODELVIEW
public net.minecraft.client.renderer.ActiveRenderInfo field_178813_c # PROJECTION
public net.minecraft.util.math.Vec3i field_177962_a # x
public net.minecraft.util.math.Vec3i field_177960_b # y
public net.minecraft.util.math.Vec3i field_177961_c # z
public net.minecraft.client.gui.GuiMainMenu field_73979_m # panoramaTimer
public net.minecraft.client.gui.GuiMainMenu func_73971_c(IIF)V # renderSkybox
public net.minecraft.client.gui.GuiMainMenu field_110352_y # MINECRAFT_TITLE_TEXTURES
public net.minecraft.client.gui.GuiMainMenu field_73974_b # minceraftRoll
public net.minecraft.client.gui.GuiMainMenu field_73975_c # splashText
public net.minecraft.client.gui.GuiMainMenu func_183501_a()Z # areRealmsNotificationsEnabled
public net.minecraft.client.gui.GuiMainMenu field_183503_M # realmsNotification
public net.minecraft.client.Minecraft func_147121_ag()V # rightClickMouse
public net.minecraft.client.gui.Gui func_73733_a(IIIIII)V # drawGradientRect
public net.minecraft.client.gui.GuiMainMenu func_73972_b(II)V # addDemoButtons
public net.minecraft.client.gui.GuiMainMenu func_73969_a(II)V # addSingleplayerMultiplayerButtons
public net.minecraft.client.network.NetHandlerPlayClient field_147309_h # doneLoadingTerrain
public net.minecraft.client.renderer.entity.RenderManager *
public net.minecraft.client.renderer.entity.Render func_180548_c(Lnet/minecraft/entity/Entity;)Z
public net.minecraft.client.renderer.RenderGlobal * # All fields
public net.minecraft.client.renderer.RenderGlobal *() # All methods

#TODO: target more specifically
#public net.minecraft.network.NetworkManager *
#public net.minecraft.network.NetworkManager *()
#public net.minecraft.network.NetworkManager * Access Transform InboundWhateverHandler?






